{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col">
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'login' %}?next= {{ next }}">
            {% csrf_token %}
            {%  bootstrap_form form %}
            <div class="d-none d-lg-block d-xl-block">
                {% bootstrap_button "Login" button_type="submit" button_class="btn btn-primary" %}
                <a href="{% url 'core:index' %}" class="btn btn-warning">Cancel</a>
            </div>
            <div class="d-lg-none d-xl-none">
                {% bootstrap_button "Login" button_type="submit" button_class="btn btn-primary btn-lg btn-block" %}
                <a href="{% url 'core:index' %}" class="btn btn-warning btn-lg btn-block">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
