{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<div class="row">
    <div class="col">
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'password_change' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-none d-lg-block d-xl-block">
                {% bootstrap_button "Change password" button_type="submit" button_class="btn btn-primary" %}
                {% bootstrap_button "Reset" button_type="reset" button_class="btn btn-warning" %}
                <a href="{% url 'core:index' %}" class="btn btn-light">{% trans 'Cancel' %}</a>
            </div>
            <div class="d-lg-none d-xl-none">
                {% bootstrap_button "Change password" button_type="submit" button_class="btn btn-primary btn-lg btn-block" %}
                {% bootstrap_button "Reset" button_type="reset" button_class="btn btn-warning btn-lg btn-block" %}
                <a href="{% url 'core:index' %}" class="btn btn-light btn-lg btn-block">'Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
