{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{% blocktrans with username=request.user.username %}Password changed successful for user {{ username }} {% endblocktrans %}</h1>
        <a class="btn-link" href="{% url 'core:index' %}">{% trans 'Go to main page' %}</a>
    </div>
</div>
{% endblock %}
