{% extends 'base.html' %}

{% load bootstrap4 static %}

{% block content %}

<div class="row">
    <div class="col">
    <div class="card">
      <div class="card-header">

        <div class="float-left">
            Categories
      </div>
      <div class ="float-right">
          <a href="{% url 'core:create_category' %}" class="badge badge-success">Create new category</a>

      </div>
      </div>
      <ul class="list-group list-group-flush">
        {% if object_list %}
            {% for category in object_list %}
          <li class="list-group-item">{{ category.name }}  <p class="float-right"><a href="{% url 'core:delete_category' category.pk %}" class="badge badge-danger">Delete</a>
              <a href="{% url 'core:update_category' category.pk %}" class="badge badge-primary">Edit</a></p></li>
            {% endfor %}
        {% else %}
          <li class="list-group-item">No categories</li>
        {% endif %}
      </ul>
    </div>
    </div>
</div>
{% endblock %}


